WebAPI/Connected Services/ServicioEmpleosChile/wsServicioEmpleosChile.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wsServicioEmpleosChile" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/ServicioEmpleosChile/wsServicioEmpleosChile.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/ServicioEmpleosChile/wsServicioEmpleosChile.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/ServicioEmpleosChile/wsServicioEmpleosChile.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost/ServicioEmpleosChile/wsServicioEmpleosChile.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" />
      <xsd:import schemaLocation="http://localhost/ServicioEmpleosChile/wsServicioEmpleosChile.svc?xsd=xsd4" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioEmpleosChile_GetUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleosChile_GetUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleosChile_ValUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ValUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleosChile_ValUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleosChile_ValEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:ValEmpresa" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleosChile_ValEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleosChile_GuardarEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarEmpresa" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleosChile_GuardarEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarEmpresaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioEmpleosChile">
    <wsdl:operation name="GetUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmpleosChile/GetUsuario" message="tns:IServicioEmpleosChile_GetUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmpleosChile/GetUsuarioResponse" message="tns:IServicioEmpleosChile_GetUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmpleosChile/ValUsuario" message="tns:IServicioEmpleosChile_ValUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmpleosChile/ValUsuarioResponse" message="tns:IServicioEmpleosChile_ValUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmpleosChile/ValEmpresa" message="tns:IServicioEmpleosChile_ValEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmpleosChile/ValEmpresaResponse" message="tns:IServicioEmpleosChile_ValEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmpleosChile/GuardarEmpresa" message="tns:IServicioEmpleosChile_GuardarEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmpleosChile/GuardarEmpresaResponse" message="tns:IServicioEmpleosChile_GuardarEmpresa_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioEmpleosChile" type="tns:IServicioEmpleosChile">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicioEmpleosChile/GetUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicioEmpleosChile/ValUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValEmpresa">
      <soap:operation soapAction="http://tempuri.org/IServicioEmpleosChile/ValEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarEmpresa">
      <soap:operation soapAction="http://tempuri.org/IServicioEmpleosChile/GuardarEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsServicioEmpleosChile">
    <wsdl:port name="BasicHttpBinding_IServicioEmpleosChile" binding="tns:BasicHttpBinding_IServicioEmpleosChile">
      <soap:address location="http://localhost/ServicioEmpleosChile/wsServicioEmpleosChile.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>