WebAPI/Connected Services/ServicioEmpleosChile/wsServicioEmpleosChile.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wsServicioEmpleosChile" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/ServicioEmpleosChile/wsServicioEmpleosChile.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/ServicioEmpleosChile/wsServicioEmpleosChile.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/ServicioEmpleosChile/wsServicioEmpleosChile.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost/ServicioEmpleosChile/wsServicioEmpleosChile.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" />
      <xsd:import schemaLocation="http://localhost/ServicioEmpleosChile/wsServicioEmpleosChile.svc?xsd=xsd4" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioEmpleosChile_GetCandidatosEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCandidatosEmpresa" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleosChile_GetCandidatosEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCandidatosEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleosChile_GetCiudad_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCiudad" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleosChile_GetCiudad_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCiudadResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleosChile_GetComuna_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComuna" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleosChile_GetComuna_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComunaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleosChile_GetDetallePublicacion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetallePublicacion" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleosChile_GetDetallePublicacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetallePublicacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleosChile_GetPais_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPais" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleosChile_GetPais_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPaisResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleosChile_GetRegion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegion" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleosChile_GetRegion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleosChile_GetPlanesEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanesEmpresa" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleosChile_GetPlanesEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanesEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleosChile_GetPublicacionesEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPublicacionesEmpresa" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleosChile_GetPublicacionesEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPublicacionesEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleosChile_GetUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleosChile_GetUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleosChile_SetEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:SetEmpresa" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleosChile_SetEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleosChile_SetPublicacionesEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPublicacionesEmpresa" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleosChile_SetPublicacionesEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPublicacionesEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleosChile_SetUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleosChile_SetUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleosChile_ValEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:ValEmpresa" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleosChile_ValEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleosChile_ValUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ValUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleosChile_ValUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioEmpleosChile">
    <wsdl:operation name="GetCandidatosEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmpleosChile/GetCandidatosEmpresa" message="tns:IServicioEmpleosChile_GetCandidatosEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmpleosChile/GetCandidatosEmpresaResponse" message="tns:IServicioEmpleosChile_GetCandidatosEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCiudad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmpleosChile/GetCiudad" message="tns:IServicioEmpleosChile_GetCiudad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmpleosChile/GetCiudadResponse" message="tns:IServicioEmpleosChile_GetCiudad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComuna">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmpleosChile/GetComuna" message="tns:IServicioEmpleosChile_GetComuna_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmpleosChile/GetComunaResponse" message="tns:IServicioEmpleosChile_GetComuna_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetallePublicacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmpleosChile/GetDetallePublicacion" message="tns:IServicioEmpleosChile_GetDetallePublicacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmpleosChile/GetDetallePublicacionResponse" message="tns:IServicioEmpleosChile_GetDetallePublicacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPais">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmpleosChile/GetPais" message="tns:IServicioEmpleosChile_GetPais_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmpleosChile/GetPaisResponse" message="tns:IServicioEmpleosChile_GetPais_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRegion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmpleosChile/GetRegion" message="tns:IServicioEmpleosChile_GetRegion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmpleosChile/GetRegionResponse" message="tns:IServicioEmpleosChile_GetRegion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlanesEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmpleosChile/GetPlanesEmpresa" message="tns:IServicioEmpleosChile_GetPlanesEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmpleosChile/GetPlanesEmpresaResponse" message="tns:IServicioEmpleosChile_GetPlanesEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPublicacionesEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmpleosChile/GetPublicacionesEmpresa" message="tns:IServicioEmpleosChile_GetPublicacionesEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmpleosChile/GetPublicacionesEmpresaResponse" message="tns:IServicioEmpleosChile_GetPublicacionesEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmpleosChile/GetUsuario" message="tns:IServicioEmpleosChile_GetUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmpleosChile/GetUsuarioResponse" message="tns:IServicioEmpleosChile_GetUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmpleosChile/SetEmpresa" message="tns:IServicioEmpleosChile_SetEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmpleosChile/SetEmpresaResponse" message="tns:IServicioEmpleosChile_SetEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPublicacionesEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmpleosChile/SetPublicacionesEmpresa" message="tns:IServicioEmpleosChile_SetPublicacionesEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmpleosChile/SetPublicacionesEmpresaResponse" message="tns:IServicioEmpleosChile_SetPublicacionesEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmpleosChile/SetUsuario" message="tns:IServicioEmpleosChile_SetUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmpleosChile/SetUsuarioResponse" message="tns:IServicioEmpleosChile_SetUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmpleosChile/ValEmpresa" message="tns:IServicioEmpleosChile_ValEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmpleosChile/ValEmpresaResponse" message="tns:IServicioEmpleosChile_ValEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmpleosChile/ValUsuario" message="tns:IServicioEmpleosChile_ValUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmpleosChile/ValUsuarioResponse" message="tns:IServicioEmpleosChile_ValUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioEmpleosChile" type="tns:IServicioEmpleosChile">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCandidatosEmpresa">
      <soap:operation soapAction="http://tempuri.org/IServicioEmpleosChile/GetCandidatosEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCiudad">
      <soap:operation soapAction="http://tempuri.org/IServicioEmpleosChile/GetCiudad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComuna">
      <soap:operation soapAction="http://tempuri.org/IServicioEmpleosChile/GetComuna" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetallePublicacion">
      <soap:operation soapAction="http://tempuri.org/IServicioEmpleosChile/GetDetallePublicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPais">
      <soap:operation soapAction="http://tempuri.org/IServicioEmpleosChile/GetPais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegion">
      <soap:operation soapAction="http://tempuri.org/IServicioEmpleosChile/GetRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlanesEmpresa">
      <soap:operation soapAction="http://tempuri.org/IServicioEmpleosChile/GetPlanesEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPublicacionesEmpresa">
      <soap:operation soapAction="http://tempuri.org/IServicioEmpleosChile/GetPublicacionesEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicioEmpleosChile/GetUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEmpresa">
      <soap:operation soapAction="http://tempuri.org/IServicioEmpleosChile/SetEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPublicacionesEmpresa">
      <soap:operation soapAction="http://tempuri.org/IServicioEmpleosChile/SetPublicacionesEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicioEmpleosChile/SetUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValEmpresa">
      <soap:operation soapAction="http://tempuri.org/IServicioEmpleosChile/ValEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicioEmpleosChile/ValUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsServicioEmpleosChile">
    <wsdl:port name="BasicHttpBinding_IServicioEmpleosChile" binding="tns:BasicHttpBinding_IServicioEmpleosChile">
      <soap:address location="http://localhost/ServicioEmpleosChile/wsServicioEmpleosChile.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>