WebAPI/Connected Services/ServicioEmpleosChile/wsServicioEmpleosChile1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ServicioEmpleosChile/wsServicioEmpleosChile.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/ServicioEmpleosChile/wsServicioEmpleosChile.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" />
  <xs:element name="DelEducacionUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q1:ArrayOfstring" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelEducacionUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="DelEducacionUsuarioResult" nillable="true" type="q3:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelExperienciasUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q4:ArrayOfstring" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelExperienciasUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="DelExperienciasUsuarioResult" nillable="true" type="q6:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelHabilidadesUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q7:ArrayOfstring" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelHabilidadesUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="DelHabilidadesUsuarioResult" nillable="true" type="q9:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelIdiomasUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q10:ArrayOfstring" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelIdiomasUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="DelIdiomasUsuarioResult" nillable="true" type="q12:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelImagenesEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q13:ArrayOfstring" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q14:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelImagenesEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="DelImagenesEmpresaResult" nillable="true" type="q15:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCurriculum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q16:ArrayOfstring" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q17:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCurriculumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="DelCurriculumResult" nillable="true" type="q18:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCandidatosPublicacionEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q19:ArrayOfstring" />
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q20:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCandidatosPublicacionEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetCandidatosPublicacionEmpresaResult" nillable="true" type="q21:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCandidatosEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q22:ArrayOfstring" />
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q23:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCandidatosEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetCandidatosEmpresaResult" nillable="true" type="q24:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCandiPubliTrabaPreguntPermitidas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q25:ArrayOfstring" />
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q26:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCandiPubliTrabaPreguntPermitidasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetCandiPubliTrabaPreguntPermitidasResult" nillable="true" type="q27:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCantidadesSNM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q28:ArrayOfstring" />
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q29:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCantidadesSNMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetCantidadesSNMResult" nillable="true" type="q30:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCiudad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q31:ArrayOfstring" />
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q32:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCiudadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetCiudadResult" nillable="true" type="q33:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComentariosPublicacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q34:ArrayOfstring" />
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q35:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComentariosPublicacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetComentariosPublicacionResult" nillable="true" type="q36:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComuna">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q37:ArrayOfstring" />
        <xs:element xmlns:q38="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q38:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComunaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetComunaResult" nillable="true" type="q39:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContadorPostulacionUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q40:ArrayOfstring" />
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q41:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContadorPostulacionUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetContadorPostulacionUsuarioResult" nillable="true" type="q42:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContadorUsuarioEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q43:ArrayOfstring" />
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q44:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContadorUsuarioEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetContadorUsuarioEmpresaResult" nillable="true" type="q45:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatosEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q46:ArrayOfstring" />
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q47:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatosEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetDatosEmpresaResult" nillable="true" type="q48:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatosUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q49:ArrayOfstring" />
        <xs:element xmlns:q50="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q50:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatosUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetDatosUsuarioResult" nillable="true" type="q51:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatosUsuarioPerfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q52:ArrayOfstring" />
        <xs:element xmlns:q53="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q53:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatosUsuarioPerfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetDatosUsuarioPerfilResult" nillable="true" type="q54:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetalleMensajeDelUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q55:ArrayOfstring" />
        <xs:element xmlns:q56="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q56:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetalleMensajeDelUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetDetalleMensajeDelUsuarioResult" nillable="true" type="q57:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetallePlanes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q58:ArrayOfstring" />
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q59:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetallePlanesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetDetallePlanesResult" nillable="true" type="q60:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetallePublicacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q61:ArrayOfstring" />
        <xs:element xmlns:q62="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q62:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetallePublicacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetDetallePublicacionResult" nillable="true" type="q63:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetalleTrabajador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q64:ArrayOfstring" />
        <xs:element xmlns:q65="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q65:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetalleTrabajadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetDetalleTrabajadorResult" nillable="true" type="q66:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevolucionEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q67:ArrayOfstring" />
        <xs:element xmlns:q68="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q68:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevolucionEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetDevolucionEmpresaResult" nillable="true" type="q69:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducacionesUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q70:ArrayOfstring" />
        <xs:element xmlns:q71="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q71:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducacionesUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetEducacionesUsuarioResult" nillable="true" type="q72:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpresasPlanesVigentes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpresasPlanesVigentesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetEmpresasPlanesVigentesResult" nillable="true" type="q73:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpleosAdaptadosAPerfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q74:ArrayOfstring" />
        <xs:element xmlns:q75="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q75:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpleosAdaptadosAPerfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetEmpleosAdaptadosAPerfilResult" nillable="true" type="q76:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExperienciaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q77:ArrayOfstring" />
        <xs:element xmlns:q78="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q78:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExperienciaUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetExperienciaUsuarioResult" nillable="true" type="q79:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFechaTerminoPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q80:ArrayOfstring" />
        <xs:element xmlns:q81="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q81:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFechaTerminoPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetFechaTerminoPlanResult" nillable="true" type="q82:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHabilidades">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHabilidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetHabilidadesResult" nillable="true" type="q83:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHabilidadesUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q84:ArrayOfstring" />
        <xs:element xmlns:q85="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q85:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHabilidadesUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetHabilidadesUsuarioResult" nillable="true" type="q86:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistorialMensajesEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q87:ArrayOfstring" />
        <xs:element xmlns:q88="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q88:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistorialMensajesEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetHistorialMensajesEmpresaResult" nillable="true" type="q89:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistorialMensajesUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q90:ArrayOfstring" />
        <xs:element xmlns:q91="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q91:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistorialMensajesUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetHistorialMensajesUsuarioResult" nillable="true" type="q92:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdiomas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdiomasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetIdiomasResult" nillable="true" type="q93:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdiomasUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q94:ArrayOfstring" />
        <xs:element xmlns:q95="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q95:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdiomasUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetIdiomasUsuarioResult" nillable="true" type="q96:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagenesBannerEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q97:ArrayOfstring" />
        <xs:element xmlns:q98="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q98:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagenesBannerEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetImagenesBannerEmpresaResult" nillable="true" type="q99:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagenPerfilEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q100:ArrayOfstring" />
        <xs:element xmlns:q101="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q101:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagenPerfilEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetImagenPerfilEmpresaResult" nillable="true" type="q102:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagenPerfilUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q103:ArrayOfstring" />
        <xs:element xmlns:q104="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q104:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagenPerfilUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetImagenPerfilUsuarioResult" nillable="true" type="q105:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagenUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q106:ArrayOfstring" />
        <xs:element xmlns:q107="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q107:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagenUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetImagenUsuarioResult" nillable="true" type="q108:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstituciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstitucionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetInstitucionesResult" nillable="true" type="q109:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMensajesEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q110:ArrayOfstring" />
        <xs:element xmlns:q111="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q111:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMensajesEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetMensajesEmpresaResult" nillable="true" type="q112:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMensajesUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q113:ArrayOfstring" />
        <xs:element xmlns:q114="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q114:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMensajesUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetMensajesUsuarioResult" nillable="true" type="q115:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotificacionesEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q116:ArrayOfstring" />
        <xs:element xmlns:q117="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q117:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotificacionesEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetNotificacionesEmpresaResult" nillable="true" type="q118:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtrosUsuariosEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q119:ArrayOfstring" />
        <xs:element xmlns:q120="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q120:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtrosUsuariosEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetOtrosUsuariosEmpresaResult" nillable="true" type="q121:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPais">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetPaisResult" nillable="true" type="q122:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPagosEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q123:ArrayOfstring" />
        <xs:element xmlns:q124="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q124:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPagosEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetPagosEmpresaResult" nillable="true" type="q125:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerfilProfesionalUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q126:ArrayOfstring" />
        <xs:element xmlns:q127="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q127:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerfilProfesionalUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetPerfilProfesionalUsuarioResult" nillable="true" type="q128:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanesEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q129:ArrayOfstring" />
        <xs:element xmlns:q130="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q130:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanesEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetPlanesEmpresaResult" nillable="true" type="q131:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublicacionesEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q132:ArrayOfstring" />
        <xs:element xmlns:q133="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q133:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublicacionesEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetPublicacionesEmpresaResult" nillable="true" type="q134:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostulacionesUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q135:ArrayOfstring" />
        <xs:element xmlns:q136="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q136:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostulacionesUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetPostulacionesUsuarioResult" nillable="true" type="q137:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublicacionesEmpresaFiltro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q138:ArrayOfstring" />
        <xs:element xmlns:q139="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q139:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublicacionesEmpresaFiltroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetPublicacionesEmpresaFiltroResult" nillable="true" type="q140:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublicacionesUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q141:ArrayOfstring" />
        <xs:element xmlns:q142="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q142:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublicacionesUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetPublicacionesUsuarioResult" nillable="true" type="q143:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreguntasEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q144:ArrayOfstring" />
        <xs:element xmlns:q145="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q145:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreguntasEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetPreguntasEmpresaResult" nillable="true" type="q146:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreguntasPorPublicacionEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q147:ArrayOfstring" />
        <xs:element xmlns:q148="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q148:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreguntasPorPublicacionEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetPreguntasPorPublicacionEmpresaResult" nillable="true" type="q149:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreguntasPorPublicacionId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q150:ArrayOfstring" />
        <xs:element xmlns:q151="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q151:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreguntasPorPublicacionIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetPreguntasPorPublicacionIdResult" nillable="true" type="q152:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreguntasSeleccionadasEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q153:ArrayOfstring" />
        <xs:element xmlns:q154="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q154:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreguntasSeleccionadasEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetPreguntasSeleccionadasEmpresaResult" nillable="true" type="q155:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetRegionResult" nillable="true" type="q156:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSolicitudesEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q157="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q157:ArrayOfstring" />
        <xs:element xmlns:q158="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q158:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSolicitudesEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetSolicitudesEmpresaResult" nillable="true" type="q159:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSolicitudUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q160="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q160:ArrayOfstring" />
        <xs:element xmlns:q161="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q161:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSolicitudUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q162="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetSolicitudUsuarioResult" nillable="true" type="q162:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTarjetaEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q163="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q163:ArrayOfstring" />
        <xs:element xmlns:q164="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q164:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTarjetaEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetTarjetaEmpresaResult" nillable="true" type="q165:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrabajadores">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q166="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q166:ArrayOfstring" />
        <xs:element xmlns:q167="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q167:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrabajadoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q168="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetTrabajadoresResult" nillable="true" type="q168:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOfertasEmpleos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q169="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q169:ArrayOfstring" />
        <xs:element xmlns:q170="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q170:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOfertasEmpleosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q171="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetOfertasEmpleosResult" nillable="true" type="q171:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUltimosCandidatosEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q172="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q172:ArrayOfstring" />
        <xs:element xmlns:q173="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q173:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUltimosCandidatosEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q174="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetUltimosCandidatosEmpresaResult" nillable="true" type="q174:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUltimoPlanEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q175="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q175:ArrayOfstring" />
        <xs:element xmlns:q176="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q176:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUltimoPlanEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q177="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetUltimoPlanEmpresaResult" nillable="true" type="q177:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q178="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q178:ArrayOfstring" />
        <xs:element xmlns:q179="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q179:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q180="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetUsuarioResult" nillable="true" type="q180:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuarioEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q181="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q181:ArrayOfstring" />
        <xs:element xmlns:q182="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q182:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuarioEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q183="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetUsuarioEmpresaResult" nillable="true" type="q183:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVotoSeleccionadoPublicacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q184="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q184:ArrayOfstring" />
        <xs:element xmlns:q185="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q185:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVotoSeleccionadoPublicacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q186="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetVotoSeleccionadoPublicacionResult" nillable="true" type="q186:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurriculum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q187="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q187:ArrayOfstring" />
        <xs:element xmlns:q188="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q188:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurriculumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q189="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="GetCurriculumResult" nillable="true" type="q189:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetComentarioPublicacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q190="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q190:ArrayOfstring" />
        <xs:element xmlns:q191="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q191:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetComentarioPublicacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q192="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="SetComentarioPublicacionResult" nillable="true" type="q192:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q193="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q193:ArrayOfstring" />
        <xs:element xmlns:q194="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q194:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q195="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="SetEmpresaResult" nillable="true" type="q195:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEducacionUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q196="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q196:ArrayOfstring" />
        <xs:element xmlns:q197="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q197:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEducacionUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q198="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="SetEducacionUsuarioResult" nillable="true" type="q198:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetExperienciasUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q199="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q199:ArrayOfstring" />
        <xs:element xmlns:q200="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q200:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetExperienciasUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q201="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="SetExperienciasUsuarioResult" nillable="true" type="q201:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHabilidadesUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q202="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q202:ArrayOfstring" />
        <xs:element xmlns:q203="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q203:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHabilidadesUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q204="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="SetHabilidadesUsuarioResult" nillable="true" type="q204:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetIdiomaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q205="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q205:ArrayOfstring" />
        <xs:element xmlns:q206="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q206:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetIdiomaUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q207="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="SetIdiomaUsuarioResult" nillable="true" type="q207:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetImagenesEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q208="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q208:ArrayOfstring" />
        <xs:element xmlns:q209="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q209:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetImagenesEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q210="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="SetImagenesEmpresaResult" nillable="true" type="q210:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMensajes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q211="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q211:ArrayOfstring" />
        <xs:element xmlns:q212="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q212:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMensajesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q213="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="SetMensajesResult" nillable="true" type="q213:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPagosEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q214="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q214:ArrayOfstring" />
        <xs:element xmlns:q215="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q215:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPagosEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q216="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="SetPagosEmpresaResult" nillable="true" type="q216:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPostuloEmpleo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q217="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q217:ArrayOfstring" />
        <xs:element xmlns:q218="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q218:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPostuloEmpleoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q219="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="SetPostuloEmpleoResult" nillable="true" type="q219:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUpdPerfilProfesionalUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q220="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q220:ArrayOfstring" />
        <xs:element xmlns:q221="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q221:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUpdPerfilProfesionalUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q222="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="SetUpdPerfilProfesionalUsuarioResult" nillable="true" type="q222:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPlanesContratadosEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q223="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q223:ArrayOfstring" />
        <xs:element xmlns:q224="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q224:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPlanesContratadosEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q225="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="SetPlanesContratadosEmpresaResult" nillable="true" type="q225:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPreguntasSeleccionadasEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q226="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q226:ArrayOfstring" />
        <xs:element xmlns:q227="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q227:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPreguntasSeleccionadasEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q228="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="SetPreguntasSeleccionadasEmpresaResult" nillable="true" type="q228:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPreguntasSeleccionadasPublicacionEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q229="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q229:ArrayOfstring" />
        <xs:element xmlns:q230="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q230:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPreguntasSeleccionadasPublicacionEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q231="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="SetPreguntasSeleccionadasPublicacionEmpresaResult" nillable="true" type="q231:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPreguntasEmpresaPostulacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q232="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q232:ArrayOfstring" />
        <xs:element xmlns:q233="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q233:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPreguntasEmpresaPostulacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q234="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="SetPreguntasEmpresaPostulacionResult" nillable="true" type="q234:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRespuestaMensajeUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q235="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q235:ArrayOfstring" />
        <xs:element xmlns:q236="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q236:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRespuestaMensajeUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q237="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="SetRespuestaMensajeUsuarioResult" nillable="true" type="q237:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRespuestaMensajeReceptor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q238="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q238:ArrayOfstring" />
        <xs:element xmlns:q239="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q239:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRespuestaMensajeReceptorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q240="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="SetRespuestaMensajeReceptorResult" nillable="true" type="q240:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPublicacionesEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q241="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q241:ArrayOfstring" />
        <xs:element xmlns:q242="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q242:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPublicacionesEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q243="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="SetPublicacionesEmpresaResult" nillable="true" type="q243:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTarjetaEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q244="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q244:ArrayOfstring" />
        <xs:element xmlns:q245="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q245:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTarjetaEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q246="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="SetTarjetaEmpresaResult" nillable="true" type="q246:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUsuarioEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q247="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q247:ArrayOfstring" />
        <xs:element xmlns:q248="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q248:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUsuarioEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q249="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="SetUsuarioEmpresaResult" nillable="true" type="q249:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUpdVotacionPublicacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q250="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q250:ArrayOfstring" />
        <xs:element xmlns:q251="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q251:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUpdVotacionPublicacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q252="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="SetUpdVotacionPublicacionResult" nillable="true" type="q252:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q253="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q253:ArrayOfstring" />
        <xs:element xmlns:q254="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q254:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q255="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="SetUsuarioResult" nillable="true" type="q255:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCurriculum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q256="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q256:ArrayOfstring" />
        <xs:element xmlns:q257="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q257:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCurriculumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q258="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="SetCurriculumResult" nillable="true" type="q258:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdADPreguntaEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q259="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q259:ArrayOfstring" />
        <xs:element xmlns:q260="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q260:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdADPreguntaEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q261="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="UpdADPreguntaEmpresaResult" nillable="true" type="q261:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdADPublicacionEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q262="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q262:ArrayOfstring" />
        <xs:element xmlns:q263="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q263:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdADPublicacionEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q264="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="UpdADPublicacionEmpresaResult" nillable="true" type="q264:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdEstadoSolicitudUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q265="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q265:ArrayOfstring" />
        <xs:element xmlns:q266="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q266:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdEstadoSolicitudUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q267="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="UpdEstadoSolicitudUsuarioResult" nillable="true" type="q267:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdDatosUsuarioPerfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q268="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q268:ArrayOfstring" />
        <xs:element xmlns:q269="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q269:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdDatosUsuarioPerfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q270="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="UpdDatosUsuarioPerfilResult" nillable="true" type="q270:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdPerfilEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q271="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q271:ArrayOfstring" />
        <xs:element xmlns:q272="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q272:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdPerfilEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q273="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="UpdPerfilEmpresaResult" nillable="true" type="q273:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdPerfilUsuarioEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q274="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q274:ArrayOfstring" />
        <xs:element xmlns:q275="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q275:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdPerfilUsuarioEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q276="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="UpdPerfilUsuarioEmpresaResult" nillable="true" type="q276:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdPublicacionEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q277="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q277:ArrayOfstring" />
        <xs:element xmlns:q278="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q278:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdPublicacionEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q279="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="UpdPublicacionEmpresaResult" nillable="true" type="q279:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdTarjetaEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q280="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q280:ArrayOfstring" />
        <xs:element xmlns:q281="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q281:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdTarjetaEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q282="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="UpdTarjetaEmpresaResult" nillable="true" type="q282:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q283="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q283:ArrayOfstring" />
        <xs:element xmlns:q284="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q284:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q285="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="ValEmpresaResult" nillable="true" type="q285:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q286="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q286:ArrayOfstring" />
        <xs:element xmlns:q287="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q287:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q288="http://schemas.datacontract.org/2004/07/ServicioEmpleosChile" minOccurs="0" name="ValUsuarioResult" nillable="true" type="q288:ServicioEmpleosChile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>